@import './reset.css';

:root {
  /* Colors */
  --c-white: white;
  --c-gray-subtle: #ddd;
  --c-gray-middle: #888;
  --c-gray-dark: #333;
  --c-blue: rgb(38, 144, 224);
  --c-green: rgb(170, 255, 0);
  --c-green-middle: rgb(153, 193, 73);

  --radius: 5px;
}

@define-mixin theme-light {
  --color-bg: var(--c-white);
  --color-strong: var(--c-gray-dark);
  --color-normal: var(--c-gray-middle);
  --color-subtle: var(--c-gray-subtle);
  --color-primary: var(--c-blue);
  --color-yes-light: var(--c-green);
  --color-yes-dark: var(--c-green-middle);
}

@define-mixin theme-dark {
  --color-bg: var(--c-gray-dark);
  --color-strong: var(--c-white);
  --color-normal: var(--c-gray-subtle);
  --color-subtle: var(--c-gray-middle);
  --color-primary: var(--c-blue);
  --color-yes-light: var(--c-green);
  --color-yes-dark: var(--c-green-middle);
}

@define-mixin all-caps {
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

html {
  @mixin theme-light;

  background-color: var(--color-primary);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.Header {
  @mixin theme-dark;

  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-bg);
  color: var(--color-normal);
}

.Header__Title {
  @mixin all-caps;

  flex-grow: 1;
  font-weight: bold;
}

.Header__Tools {
  display: flex;
  gap: 2rem;
  flex-grow: 0;
}

.Counter {
  display: flex;
  align-items: center;

  span {
    display: block;
    width: 1.5em;
    text-align: center;
    color: var(--color-normal);
  }
}

.Button {
  @mixin all-caps;

  padding: 0.5em 0.8em;
  border: 2px solid var(--color-subtle);
  color: var(--color-subtle);
  font-size: 14px;
  cursor: pointer;

  &:not(:disabled):hover {
    border-color: var(--color-normal);
    color: var(--color-normal);
  }

  &:not(:disabled):active {
    border-color: var(--color-strong);
    color: var(--color-strong);
  }

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.Board {
  --board-size: 3;

  display: inline-grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
  gap: 6px;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: rgba(255, 255, 255, 0.5);
}

.Field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: var(--radius);
  user-select: none;
  font-size: 2rem;
  font-weight: bold;

  &[data-value] {
    background-color: var(--color-bg);
    box-shadow: 0px 4px 0 var(--color-strong), 0 0 6px rgba(0, 0, 0, 0.8);
    color: var(--color-strong);
    cursor: pointer;

    &:hover {
      border: 2px solid var(--color-strong);
    }

    &[data-correct='true'] {
      transform: scale(0.8);
      box-shadow: none;
    }
  }

  /* Player */
  &:not([data-value]) {
    box-shadow: none;
    background-color: transparent;

    &::after {
      content: '🐭';
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6em;
    }

    &[data-direction='up'] {
      transform: rotate(180deg);
    }
    &[data-direction='left'] {
      transform: rotate(90deg);
    }
    &[data-direction='right'] {
      transform: rotate(270deg);
    }
  }
}

.Lamp {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .Lamp__Indicator {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border: 2px solid var(--color-subtle);
    border-radius: 1rem;
    transition-property: border-color, background-color, box-shadow, opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .Lamp__Label {
    @mixin all-caps;

    display: block;
    font-size: 14px;
    transition-property: color, opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &[data-state='on'] {
    .Lamp__Indicator {
      border-color: transparent;
      background-color: var(--color-yes-light);
      box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.1),
        0 0 25px 1px var(--color-yes-light);
    }

    .Lamp__Label {
      color: var(--color-strong);
    }
  }

  &[data-state='off'] {
    .Lamp__Indicator {
      opacity: 0.3;
    }

    .Lamp__Label {
      color: var(--color-subtle);
      opacity: 0.3;
    }
  }
}
