@import './mixins.css';
@import './reset.css';

:root {
  /* Colors */
  --c-white: white;
  --c-gray-subtle: #ddd;
  --c-gray-middle: #888;
  --c-gray-dark: #333;
  --c-blue: rgb(38, 144, 224);
  --c-green: rgb(170, 255, 0);
  --c-green-middle: rgb(153, 193, 73);

  --radius: 5px;
}

html {
  @mixin theme-light;

  background-color: var(--color-primary);
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  user-select: none;
  min-height: 100vh;
}

body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

footer {
  padding: 1rem;
  text-align: right;

  svg {
    height: 2rem;
    fill: currentcolor;
  }

  a {
    color: rgba(0, 0, 0, 50%);

    &:hover {
      color: rgba(0, 0, 0, 100%);
    }
  }
}
