@import './mixins.css';
@import './reset.css';

:root {
  /* Colors */
  --c-white: white;
  --c-gray-subtle: #ddd;
  --c-gray-middle: #888;
  --c-gray-dark: #333;
  --c-blue: rgb(38, 144, 224);
  --c-green: rgb(170, 255, 0);
  --c-green-middle: rgb(153, 193, 73);

  --radius: 5px;
}

html {
  @mixin theme-light;

  background-color: var(--color-primary);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  user-select: none;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
