*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: currentColor;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1;
}

ol,
ul,
menu {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}
