@import '../../styles/mixins.css';

.Header {
  @mixin theme-dark;

  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-bg);
  color: var(--color-normal);
}

.Header__Title {
  @mixin all-caps;

  flex-grow: 1;
  font-weight: bold;
}

.Header__Tools {
  display: flex;
  gap: 2rem;
  flex-grow: 0;
}
