:root {
  --color-strong: #333;
  --color-normal: #888;
  --color-subtle: #ddd;
  --radius: 6px;
}


.Board {
  --board-size: 3;

  display: inline-grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
  gap: 2px;
}

.Field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 2px solid var(--color-normal);
  border-radius: var(--radius);
  color: var(--color-strong);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--color-strong);
  }

  &:not([data-value]) {
    opacity: 0;
  }
}
